.env
__pycache__/
*.pyc
.ipynb_checkpoints/
dbt_packages/
target/
logs/
data/*
!data/.gitkeep
dbt_transform/profiles.yml
notebooks/analysis/output/
notebooks/analysis/artifacts/
.ipynb_checkpoints/
**/.env

 